@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* ===== Colors ===== */
:root{
    --primary-blue950: hsl(233, 26%, 24%);
    --primary-green500: hsl(136, 64%, 51%);
    --primary-cyan400: hsl(192, 69%, 51%);

    --neutral-gray600:hsl(233, 8%, 62%);
    --neutral-gray100:hsl(220, 16%, 96%);
    --neutral-gray50:hsl(0, 0%, 98%);
    --neutral-white:hsl(0, 100%, 100%);
}

body{
    font-size: 18px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* ===== Typography ===== */
.public-sans-body {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.public-sans-links {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.public-sans-titles{
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.request-btn{
  background: linear-gradient(to top right, var(--primary-cyan400), var(--primary-green500)) !important;
  color: var(--neutral-white)!important;
 }

.request-btn:hover{
  filter: brightness(1.1);
}

.menu-option{
  color: var(--neutral-gray600);
}

.menu-option:hover{
  border-bottom: 3px solid var(--primary-green500);
}


.custom-bottom-nav{
  background-color: var(--primary-blue950);
  color: var(--neutral-gray600);
}

.rights{
  font-size: 12px;
}

.nav-link-bottom:hover{
  color: var(--primary-green500);
}

.offcanvas-body {
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

 .mockup-bg {
  background-image: url('/images/bg-intro-desktop.svg');
  background-position: left center;
  background-repeat: no-repeat;
}

.articles-section, .hero-section{
  background-color: var(--neutral-gray50);
}

.digital-section {
  background-color: var(--neutral-gray100);
}

.main-navbar{
  background: linear-gradient(to top bottom, var(--neutral-white), var(--neutral-gray100)) !important;
}

.navbar,
.main-navbar {
  position: relative;
  z-index: 1000;
}

p{
  color: var(--neutral-gray600);
  font-size: 16px;
}

h6{
  color: var(--neutral-gray600);
  font-size: 12px;
}


